*{
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #ffffff;
	font-size: 10px;
	overflow: hidden;
	background: linear-gradient(180deg, #808080 50%, #303030 50%, #608060 100%);
}

.day_patrol {
	background: linear-gradient(180deg, #808080 50%, #303030 50%, #608060 100%);
}

.night_patrol {
	background: linear-gradient(180deg, #101010 50%, #303030 50%, #608060 100%);
}